.pwd-reset-dialog {
    text-align: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    height: 300px;
}
