<mat-dialog-content [formGroup]="pwdResetForm" class = "pwd-reset-dialog">
  <p class="template-name">{{templateName}}</p>
  <mat-divider></mat-divider>
<br/>
  <div *ngIf="inputMail===true; else resetPwd">
    <mat-form-field >
        <input matInput placeholder="Email" type="email" formControlName="email" required>
    </mat-form-field>
  </div>
  <ng-template #resetPwd>
  <div>
    <mat-form-field>
      <input matInput placeholder="Nuova Password" type="password" formControlName="password" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Ripeti Password" type="password" formControlName="ripetiPassword" required>
    </mat-form-field>
  </div>
</ng-template>
  <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" (click)="submit()" class=" white-text">{{buttonName}}</button>
    </mat-dialog-actions>
</mat-dialog-content>
