<div class="paragraph-container">
  <p class="template-name">Istruzioni</p>
  <p class="header-paragraph" > 
      Benvenuto su Erdkunder.
      Erdkunder è un'applicazione web per la raccolta di informazione geografica volontaria, 
      cioè per dati con coordinate geografiche, prodotti dagli utenti che si registrano.
      L'utilizzo è molto semplice:
  </p>
  <ul>
    <li>
      <p class="normal-text">
          doppio click sulla mappa ed è possibile aggiungere una localizzazione specificando
          alcuni attributi del punto come nome, descrizione e legenda;
      </p>
    </li>
    <li>
      <p class="normal-text">
          cliccando su un punto già salvato è possibile modificarlo od eliminarlo;
      </p>
    </li>
    <li>
      <p class="normal-text">
          se si desidera avere una maggiore ricchezza di riferimenti su mappa
          è possibile attivare il caricamento delle ortofoto disponibili, cliccando sul tasto O sotto i pulsanti di zoom;
          un secondo click sul medesimo pulsante ripristinerà la vista precedente;
      </p>
    </li>
    <li>
      <p class="normal-text">
          cliccando sull'icona menu è possibile invece visualizzare la legenda nel dettaglio, 
          oppure i propri dati utente registrati;
      </p>
    </li>
    <li>
      <p class="normal-text">
          una volta che si è deciso di non utilizzare più l'applicazione è possibile procedere all'autocancellazione (non reversibile)
          dalla pagina utente. Di tutti i dati salvati, verrano conservati soltanto quelli relativi all'età, 
          mentre tutti gli altri dati verrano cancellati permanentemente;
      </p>
    </li>
  </ul>
</div>