<mat-toolbar color="primary">
    <span>
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="userService.checkLogin() === true" class= "white-text">
        Menù
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)="showSideContent('user')" >
          <span>Utente</span>
        </button>
        <button mat-menu-item (click)="showSideContent('legenda')">
          <span>Legenda</span>
        </button>
        <button mat-menu-item (click)="showSideContent('altro')">
          <span>Altro</span>
        </button>
      </mat-menu>
      </span>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>
    <span  *ngIf="userService.checkLogin() === true; else registration">
      <a (click)="logout()"><mat-icon>exit_to_app</mat-icon></a>
    </span>
    <ng-template #registration><a (click) = "openDialog()"><mat-icon>account_circle</mat-icon></a></ng-template>
</mat-toolbar>
