
<mat-list>
    <h3 mat-subheader>Legenda</h3>
    <mat-list-item *ngFor="let l of legende" >
      <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  {{l.codice}}
              </mat-panel-title>
              <mat-panel-description>
                  <p class="circle" [ngStyle]="{'color': getColor(l)}"></p>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{l.descrizione}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>