<div>
  <mat-list>
    <h2 mat-subheader>Legenda</h2>
    <mat-list-item *ngFor="let l of legende">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="circle" [ngStyle]="{'background-color': getColor(l)}"></p>
            </mat-panel-title>
            <mat-panel-description>
              <h3>{{l.codice}}</h3>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{l.descrizione}}</p>
        </mat-expansion-panel>
      </mat-accordion>
      <button mat-raised-button color="basic" (click)="onDelete(l.id)">Cancella</button>
      <button mat-raised-button color="basic" (click)="hideLegendaForm(false, l)">Modifica</button>
    </mat-list-item>
    <br />
    <mat-list-item>
      <button mat-raised-button color="basic" (click)="hideLegendaForm(false)">Nuovo campo legenda</button>
    </mat-list-item>
  </mat-list>
</div>
<br />
<div [hidden]="showForm">
  <app-editlegenda [legenda]="legendaUp" (submitted)= "hideLegendaForm(true)"></app-editlegenda>
  <button mat-raised-button color="basic" (click)="hideLegendaForm(true)">Chiudi</button>
</div>