.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  }
mat-icon {
  cursor: pointer;
  color: dimgray;
}

.add-icon {
  font-size: 40px;
}

.list-element {
  text-align: left;
}
