<div class="point-form-container">
<h2 mat-dialog-title color="accent">{{modalName}}</h2>
<mat-divider></mat-divider>
<br />
<form mat-dialog-content [formGroup]="formPoint">
  <div>
    <mat-form-field class="mat-field">
      <input matInput placeholder="Nome" type="text" formControlName="nome" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-fullwidth">
      <textarea matInput placeholder="Descrizione" formControlName="descrizione" required></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="mat-field">
      <mat-select placeholder="Selezione legenda" formControlName="idLegenda" [(ngModel)]="selectedLegenda" required>
        <mat-option *ngFor="let l of legende" [value]="l.id">
          {{l.codice}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="salvaPosizione()"
      *ngIf="isNew == true; else isUpdate">Salva</button>
    <ng-template #isUpdate>
      <span><button mat-raised-button color="primary" (click)="aggiornaPosizione()">Aggiorna</button></span>
      <span class="fill-space"></span>
      <span><button mat-raised-button color="warn" (click)="cancellaPosizione()">Cancella</button></span>
    </ng-template>
  </div>
</form>
</div>