button {
    width: 150px;
}

.form-container {
    text-align: center;
    margin-top: 10px;
    display: flex;
    width: 100%;
    height:100%;
    justify-content: flex-start;
    flex-direction: column;
}

.app-name {
    font-style: italic;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: burlywood;
}

.single-char {
    color: darkred;
    font-size: 3rem;
    font-style: italic;
}

img {
    opacity: 0.3;
    width: 150px;
    height: 150px;
    display:block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

}

.form-padding {
    padding: 10px;
}


.login-input {
    width: 100%;
    text-align: center
}
