<img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Carl_Ritter_Litho_%28cropped%29.jpg"
    height="100" width="100" class="container-element">
<div class="form-container">
<p [ngClass]="['coontainer-element', 'app-name']">erkundeR</p>
 <form [formGroup]="loginForm" class="container-element"> 
    <div >
      <mat-form-field>
        <input matInput placeholder="Username" type="text" formControlName="username" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password" required>
      </mat-form-field>
    </div>
    <div>
      <p>Non sei ancora iscritto? <a (click)="openModalReg()">Registrati</a> </p>
      <br />
      <button mat-raised-button color="primary" class=" white-text" (click)="login()">Login</button>
    </div>
  </form>
  </div>
  