<h2 mat-dialog-title>Salva Posizione</h2>
<mat-divider></mat-divider>
<br />
<mat-dialog-content [formGroup]="form">
  <div>
    <mat-form-field class="mat-field" >
      <input matInput placeholder="Descrizione" type="textarea" formControlName="descrizione" required>
    </mat-form-field>
 </div>
 <div>
    <mat-form-field class="mat-field">
      <mat-select placeholder="Selezione legenda" fromControlName="idLegenda" required>
        <mat-option *ngFor="let l of legende" [value]="l.id">
          {{l.codice}}
        </mat-option>
      </mat-select>
      <input matInput placeholder="Password" type="password" formControlName="password" required>
    </mat-form-field>
 </div>
</mat-dialog-content>
  <div>
      <button mat-raised-button color="primary" (click)="esci()">Esci</button>
</div>
<div>
    <button mat-raised-button color="primary" type="submit" (click)="salvaPosizione()">Salva</button>
</div>