<mat-toolbar color="primary">
  <span>
    <a [matMenuTriggerFor]="menu">
    <mat-icon matTooltip="Menu"
      *ngIf="checkLogin() === true">menu</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="showSideContent('user')">
        <span>Utente</span>
      </button>
      <button mat-menu-item (click)="showSideContent('legenda')">
        <span>Legenda</span>
      </button>
      <button mat-menu-item (click)="showSideContent('istruzioni')">
        <span>Istruzioni</span>
      </button>
    </mat-menu>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-space"></span>
  <span *ngIf="checkLogin() === true">
    <a (click)="logout()" matTooltip="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </a>
  </span>
</mat-toolbar>