<div  class="modal-form">
<h2 mat-dialog-title>Login</h2>
<mat-divider></mat-divider>
<br />
<mat-dialog-content [formGroup]="loginForm">
  <div>
    <mat-form-field class="mat-field" >
      <input matInput placeholder="Username" type="text" formControlName="username" required>
    </mat-form-field>
 </div>
 <div>
    <mat-form-field class="mat-field">
      <input matInput placeholder="Password" type="password" formControlName="password" required>
    </mat-form-field>
 </div>
</mat-dialog-content>
<mat-dialog-actions>
  <p>Non sei ancora iscritto? <a href="#" (click)="openModalReg()">Registrati</a> </p>
  <br/>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
</mat-dialog-actions>
</div>