/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
    color: green;
}
input {
    display: block;
}
mat-icon {
    color: black;
}

input-fullwidth {
    width: '100%'
}

h2 {
    color: 'accent'
}

.white-text {
    color: #FFF!important;
}

.color-input {
    size: 10%
}

.fill-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.inline-spacing{
    width: 20px;
}

.divider {
    display: inline-block;
    height: auto;
    width: 20px;
}

.template-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: darkRed;
  }