.container {
    width:100%;
    height: 100%;
    
    /*justify-content: center;*/
}

.main-content {
    width: 100%;
    height: 100%;
    /*align-items: center;
    justify-content: center;*/
  }
.side-content{
    width: '50%';
}