.container {
    width:100%;
    height: 100%;
    
    /*justify-content: center;*/
}

.main-content {
    width: 100%;
    height: 100%;
    /*align-items: center;
    justify-content: center;*/
  }
.side-content{
    width: '50%';
}

.ui.gradient[_ngcontent-c0] {
    background-image: radial-gradient(ellipse closest-corner at center,#fff 0,#00a3ef 100%);
}