<div class="form-container">
<form [formGroup]="legendaForm">
    <div>
        <mat-form-field floatLabel="auto" class="modal-field">
          <input matInput placeholder="Codice" type="text" formControlName="codice" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="auto" class="modal-field">
          <textarea matInput placeholder="Descrizione" formControlName="descrizione" required></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="auto" class="modal-field">
          <input matInput placeholder="Colore" type="color" formControlName="colore" required>
        </mat-form-field>
      </div>
      <input type="hidden" formControlName="id">
      <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Salva</button>
</form>
</div>